<main class="auth-layout content-center">
  {{#>Wrapper padding="60_80" className="auth-layout__form-wrapper"}}
    <h2 class="typography-title auth-layout__title">
      {{ title }}
    </h2>
    {{> @partial-block }}
  {{/Wrapper}}
</main>
