.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;

  & > * {
    flex-basis: 450px;
  }
}

.auth-form-layout {
  display: grid;
  justify-items: center;
  gap: 20px;

  &__title {
    text-align: center;
  }
}
