<form id="change-password-form" class="change-password-form">
  {{>Input label="Old password" name="oldPassword" placeholder="********" className=""}}
  {{>Input label="New password" name="newPassword" placeholder="********" className=""}}
  {{>Input label="Repeat new password" name="login" placeholder="********" className=""}}
</form>
