.button {
  display: block;
  padding: 7px 50px;
  border: none;
  border-radius: 1px;
  max-width: 150px;
  cursor: pointer;
  transition: 150ms ease-in;

  &--primary {
    background-color: var(--blue);

    &:hover {
      box-shadow: 0 0 30px -7px var(--blue);
    }
  }

  &--failure {
    background-color: var(--red);

    &:hover {
      box-shadow: 0 0 30px -7px var(--red);
    }
  }

  &--icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 33px;
    padding: 0;
    flex-shrink: 0;
    border-radius: 1px;
    border: 1px solid var(--grey-3c);
    font-size: 0;
    background-color: transparent;
    cursor: pointer;

    &,
    svg {
      transition: 200ms ease-in-out;
    }

    &:hover {
      background-color: var(--grey-3c);

      svg {
        fill: var(--dark-green);
      }
    }
  }

  &--link {
    padding: 0;
    background-color: transparent;
    font-size: 14px;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;

    &--underline {
      text-decoration: underline;
    }

    &::before {
      content: attr(data-info);
      color: var(--grey-99);
      text-decoration: none;
    }

    svg {
      display: none;
    }

    &--arrow {
      svg {
        display: initial;
      }
    }
  }
}
