<div class="profile-details">
  {{#>Row label="NAME"}}John{{/Row}}
  {{#>Row label="SECOND NAME"}}Dow{{/Row}}
  {{#>Row label="CHAT NAME"}}John Dow{{/Row}}
  {{#>Row label="LOGIN"}}john_dow{{/Row}}
  {{#>Row label="EMAIL"}}john_dow@gmail.com{{/Row}}
  {{#>Row label="PHONE"}}+7 999 999-99-99{{/Row}}
</div>