.chat-page-layout {
  display: grid;
  grid-template-columns: 345px 1fr;
  gap: 10px;
  padding: 10px;
  height: 100svh;

  &__aside {
    display: grid;
    grid-auto-rows: auto 1fr;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
  }

  &__controls {
    position: sticky;
    top: 0;
    display: flex;
    gap: 10px;
    height: fit-content;
    z-index: 10;
  }
}

.message-list-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-list {
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: scroll;

  &__fill {
    flex-grow: 1;
  }
}

.message-list-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-list-layout > *:nth-child(2) {
  flex-grow: 1;
}

.message-list-header {
  &__container,
  &__user-row {
    display: flex;
  }

  &__container {
    justify-content: space-between;
  }

  &__user-row {
    align-items: center;
    gap: 10px;
  }
}
