<nav class="navigation">
  {{>Link label="Login Page" href="/" className=""}}
  {{>Link label="Register Page" href="/demonstrate-routes/register/index.html" className=""}}
  {{>Link label="Chat Page" href="/demonstrate-routes/main-page/index.html" className=""}}
  {{>Link label="Profile Page" href="/demonstrate-routes/settings-profile/index.html" className=""}}
  {{>Link label="Edit Profile Page" href="/demonstrate-routes/settings-edit/index.html" className=""}}
  {{>Link label="Change Password Page" href="/demonstrate-routes/change-password-page/index.html" className=""}}
  {{>Link label="404" href="/demonstrate-routes/error-404/index.html" className=""}}
  {{>Link label="500" href="/demonstrate-routes/error-500/index.html" className=""}}
</nav>
