.typography-title {
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: 2px 2px var(--grey3c);
}

.typography-paragraph {
  font-size: 16px;
  color: var(--grey99);
}

.typography-small {
  font-size: 14px;
  color: var(--grey59);
}