:root {
  --white: #ffffff;
  --grey26: #262626;
  --grey3c: #3c474a;
  --grey99: #99a1a4;
  --grey59: #596163;
  --blue: #00c1ff;
  --red: #c92d2d;
  --black: #000a0c;
  --darkGreen: #111c1e;
}

$desc: 1;
$tab: 1;
$mob: 1;
