<main class="settings-layout content-center">
  {{#>Wrapper padding="60_80" className="settings-layout__wrapper"}}
    {{>Avatar variant="big" src="/images/empty-img.png"}}
    {{> @partial-block }}
  {{/Wrapper}}
</main>
