.settings-layout {
  height: 100svh;

  &__wrapper {
    display: grid;
    justify-items: center;
    gap: 40px;
    min-width: 650px;
  }

  &__avatar-wrapper {
    justify-self: center;
  }
}

.settings-back-link {
  position: absolute;
  top: 40px;
  left: 40px;
}
