.settings-layout {
  height: 100svh;

  &__wrapper {
    display: grid;
    justify-items: center;
    gap: 20px;
    min-width: 40svw;
  }

  &__avatar-wrapper {
    justify-self: center;
  }

  &__link {
    position: fixed;
    top: 40px;
    left: 40px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  &__content {
    width: 100%;
  }
}
