{{#>SettingsPageLayout}}
  {{>Link label="BACK TO CHAT" href="/demonstrate-routes/main-page/index.html" variant="arrow" className="settings-back-link"}}
  {{>ProfileDetails}}
  <div class="content-center">
    {{>Link label="change password" href="/demonstrate-routes/change-password-page/index.html" className=""}}
    {{>Link label="edit profile" href="/demonstrate-routes/settings-edit/index.html" className=""}}
    {{>Button label="EXIT" variant="failure" className=""}}
  </div>
  {{>Navigation}}
{{/SettingsPageLayout}}
