{{#>Wrapper padding="10_10" className="message-list-header"}}
  <div class="message-list-header__container">
    <div class="message-list-header__user-row">
      {{>Avatar src="/images/empty-img.png"}}
      <p class="typography-paragraph">username</p>
    </div>
    {{#>Button className=""}}
      {{>MenuIcon}}
    {{/Button}}
  </div>
{{/Wrapper}}
