<div class="chat-row">
  {{>Avatar src="/images/empty-img.png"}}
  <div class="chat-row__text-content-wrapper">
    <div class="chat-row__text-content-title">
      <h3 class="typography-paragraph">user name</h3>
      <span>15:56</span>
    </div>
    <p class="typography-small">message lorem ipsum test qwesdf and message lorem ipsum test qwesdf a...</p>
  </div>
</div>