{{#>Wrapper padding="10_10" className="message-list"}}
  <div class="message-list__fill"></div>
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test.message lorem ipsum test qwesdf and message lorem ipsum test." time="20:59" seen="true"}}
  {{>MessageRow variant="other" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:01"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:05" unseen="true"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test.message lorem ipsum test qwesdf and message lorem ipsum test." time="20:59" seen="true"}}
  {{>MessageRow variant="other" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:01"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:05" unseen="true"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test.message lorem ipsum test qwesdf and message lorem ipsum test." time="20:59" seen="true"}}
  {{>MessageRow variant="other" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:01"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:05" unseen="true"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test.message lorem ipsum test qwesdf and message lorem ipsum test." time="20:59" seen="true"}}
  {{>MessageRow variant="other" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:01"}}
  {{>MessageRow variant="mine" message="message lorem ipsum test qwesdf and message lorem ipsum test." time="21:05" unseen="true"}}
{{/Wrapper}}
