<form id="edit-profile-form" class="edit-profile-form">
  <fieldset class="edit-profile-form__fieldset">
    {{>Input label="First Name" name="first_name" placeholder="JOHN" className=""}}
    {{>Input label="Email" name="email" type="email" placeholder="JOHN_DOW@GMAIL.COM" className=""}}
  </fieldset>
  <fieldset class="edit-profile-form__fieldset">
    {{>Input label="Second Name" name="second_name" placeholder="DOW" className=""}}
    {{>Input label="Login" name="login" placeholder="JOHN_DOW" className=""}}
  </fieldset>
  {{>Input label="Phone" name="phone" type="tel" placeholder="+7 999 999-99-99" className=""}}
</form>
